
#feed-list {
	list-style-type: none;
	margin: 0px;
}

.feed-item {
  background-color: #fafafa;
}

.feed-item-name {
  display: inline-block;
  width: 75%;
}

.feed-item-date {
  display: inline-block;
  width: 25%;
  text-align: right;
}

.feed-item-contents {
  display: block;
  padding : 10px;
  margin-top : 5px;
  background-color : white;
}

.feed-comment {
  background-color : #efefef;
}

#commentBtnTpl {
  display: none;
}

.commentBtn {
    margin-top: 8px;
    text-align: right;
}

#commentsTpl {
    display: none;
}

.comments {
    background-color: white;
    margin-top: 10px;
}

.comment {
    padding: 10px;
}

.typeEntry{
    /*color position size repeat origin clip attachment image;*/
    background-size: 30px 30px;
    background: #FAFAFA url(../img/conversation.png) no-repeat 10px 95%;
}

.typeMilestone{
    background-size: 30px 30px;
    background: #FAFAFA url(../img/heart.png) no-repeat 10px 95%;
}

.typeJournal{
    background-size: 30px 30px;
    background: #FAFAFA url(../img/conversation.png) no-repeat 10px 95%;
}

.typeMeeting{
    background-size: 30px 30px;
    background: #FAFAFA url(../img/clock.png) no-repeat 10px 95%;
}

.typeRequest{
    background-size: 30px 30px;
    background: #FAFAFA url(../img/question.png) no-repeat 10px 95%;
}