
#feed-list {
	list-style-type: none;
	margin: 0px;
}

.feed-item {
    position: relative;
}

.feed-item-name {
  display: inline-block;
  width: 75%;
}

.feed-item-date {
  display: inline-block;
  width: 25%;
  text-align: right;
}

.feed-item-contents {
  display: block;
  padding : 10px;
    position: relative;
  margin-top : 5px;
}

.feed-comment {
  background-color : #dddddd;
}

#commentBtnTpl {
  display: none;
}

.commentBtn {
    margin-top: 8px;
}

#commentsTpl {
    display: none;
}

.comments {
    background-color: white;
    margin-top: 10px;
}

.comment {
    padding: 10px;
}

.smallLink {
    font-size: 10px;
    padding-left: 5px;
}

.xout {
    padding-left: 10px;
}